name: Update Medium Posts

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch Medium posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: https://medium.com/feed/@mukhopadhyaypushan42
          max_post_count: 5
          gh_token: ${{ secrets.GITHUB_TOKEN }}
