name: GitHub Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Pacman Contribution Graph
        uses: DenverCoder1/github-readme-pacman@v1
        with:
          github_username: ${{ github.repository_owner }}

      - name: Deploy to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: .
          commit_message: "Update pacman contribution graph [skip ci]"
