name: GitHub Pacman Contribution Graph

on:
  # Schedule the workflow to run daily at midnight UTC
  schedule:
    - cron: "0 0 * * *"

  # Allow manual triggering of the workflow
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      # Step 1: Generate the Pacman contribution graph
      - name: Generate Pacman Contribution Graph
        uses: abozanich/pacman-contribution-graph@main
        with:
          # GitHub username to generate the graph for
          github_user_name: ${{ github.repository_owner }}

          # Output directory
          output_directory: output

      # Step 2: Deploy the generated files to the 'output' branch
      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          publish_branch: output
          commit_message: "Update pacman contribution graph [skip ci]"
